<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Descript')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-descript" data-rule="required" class="form-control editor" rows="5" name="row[descript]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-level" data-rule="required" class="form-control" name="row[level]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Down_payment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-down_payment" data-rule="required" class="form-control" name="row[down_payment]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_payment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_payment" data-rule="required" class="form-control" name="row[real_payment]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invest_discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-invest_discount" data-rule="required" class="form-control" name="row[invest_discount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Common_discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-common_discount" data-rule="required" class="form-control" name="row[common_discount]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
